[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

numpy = "*"
msgpack-python = "*"
spacy = "*"
jsonlines = "*"
"ad27359" = {file = "http://download.pytorch.org/whl/cpu/torch-0.3.0.post4-cp35-cp35m-linux_x86_64.whl"}
torchvision = "*"


[dev-packages]



[requires]

python_version = "3.5"
